<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/custom.css">
        <title>Inter-Personal Time</title>
    </head>
    <body>
        <div class="container">
            <%- body %>
        </div>
        <script src="/jquery.js"></script>
        <script src="/lodash.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/application.js"></script>
        <script type="text/javascript" src="/jquery.js"></script>
        <script type="text/javascript" src="/moment.js"></script>
        <script src="/moment.min.js"></script>
        <script type="text/javascript" src="/bootstrap.min.js"></script>
        <script type="text/javascript" src="/bootstrap-datetimepicker.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js'></script>
</html>
