<div class="white" class="row">
<div>
    <h1>Scheduling Page</h1>
    <h4>For Schedule With ID:  <%= schedule.id %></h4>
    <h3>Time Slots:</h3>
    <div id="scheduling-slots">
    </div>
</div>
</div>
<script>
var scheduleId = <%- JSON.stringify(schedule.id) %>;
var schedule = <%- JSON.stringify({targetSchedule: schedule}) %>;
</script>
