<div class="white" class="row">
<div>
    <h1>Scheduling Page</h1>
    <h4>For Schedule With ID:  <%= schedule.id %></h4>
    <div class="form-group">
        <label for="username">Enter your name:</label><br>
        <input type="text" class="form-control" id="username" name="username"><br>
        <input type="hidden" id="schedule-id" name="schedule-id" value="<%= schedule.id %>">
    </div>
    <h3>Time Slots:</h3>
    <div id="scheduling-slots">
    </div>
</div>
</div>
<script>
var scheduleId = <%- JSON.stringify(schedule.id) %>;
var schedule = <%- JSON.stringify({targetSchedule: schedule}) %>;
</script>
