body {
    background-color: lavender;
}

div#slot {
    margin-bottom: 15px;
}

p {
    margin: 0px;
}

.label-grey {
    background-color: grey;
}

#slot {
    border-style: solid;
    border-color: #bab6b6;
}

.label-green {
    background-color: #75e5b4;
}
